<?xml version="1.0" encoding="UTF-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <extensions>
    <add assembly="NLog.Targets.Splunk" />
  </extensions>
  <targets>
    <target name="Splunk"
            xsi:type="SplunkHttpEventCollector"
            serverUrl="http://localhost:8088"
            token="6e07c98c-7afe-4601-8603-dc19e1746479"
            channel="channel-guid"
            source="${logger}"
            sourceType="_json"
            index=""
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            includeEventProperties="true"
            includePositionalParameters="false"
            includeMdlc="false">
		<contextproperty name="host" layout="${machinename}" />
		<contextproperty name="threadid" layout="${threadid}" />
		<contextproperty name="logger" layout="${logger}" />
	</target>    
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Splunk" />
  </rules>
</nlog>